
/********************************************************** GENERAL */


* {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

.marker {
	padding: 2px 5px;
	background-color: yellow;
	color: #000;
}

/**************************** BUTTONS */

.btn {
	border-radius: 0 !important;
}

.cta-buttons i {
	color: #ffcc00;
}

.btn-tilted {
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    display: block;
    width: 108%;
    margin-left: -4%;
    min-height: 140px;
    padding-top: 30px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border: 0;
}

.btn-tilted:hover, .btn-tilted:active {
	background: rgba(0,0,0,0.9) !important;
}

.hvr-float-shadow.btn-tilted:hover {
	-webkit-transform: translateY(-10px) skew(-20deg);
    -moz-transform: translateY(-10px) skew(-20deg);
    -o-transform: translateY(-10px) skew(-20deg);
    -ms-transform: translateY(-10px) skew(-20deg);
    transform: translateY(-10px) skew(-20deg);
}

.btn-tilted span, .btn-tilted i {
	-webkit-transform: skew(20deg) !important;
    -moz-transform: skew(20deg) !important;
    -o-transform: skew(20deg) !important;
    -ms-transform: skew(20deg) !important;
    transform: skew(20deg) !important;
    display:block;
    margin-bottom: 20px;

}

.btn-tilted span {
	text-transform: uppercase;
	font-weight: 700;
}

.btn-tilted i {
	margin-left: -30px;
}


.btn-yellow {
	-webkit-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	-moz-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	border-radius: 0;
	background: #ffcc00;
	border: 0;
	color: black;
	font-weight: bold;
}

.btn-yellow:hover, .btn-yellow:active {
	-webkit-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	-moz-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	background: #ffd800;
	color: black;
}

.btn-azure {
	-webkit-box-shadow: 6px 6px 0px -3px rgba(29,104,120,1);
	-moz-box-shadow: 6px 6px 0px -3px rgba(29,104,120,1);
	box-shadow: 6px 6px 0px -3px rgba(29,104,120,1);
	border-radius: 0;
	background: #25889d;
	border: 0;
	color: white;
	font-weight: bold;
}

.btn-azure:hover, .btn-azure:active {
	-webkit-box-shadow: 6px 6px 0px -3px rgba(29,104,120,1);
	-moz-box-shadow: 6px 6px 0px -3px rgba(29,104,120,1);
	box-shadow: 6px 6px 0px -3px rgba(29,104,120,1);
	background: #3096ac;
	color: white;
}

.btn-filter {
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    display: block;
    min-height: 40px;
    padding-top: 30px;
    box-sizing: border-box;
    background: #25889d;
    color: white;
    border: 0;
    font-size: 20px;
}



.btn-filter:hover, .btn-filter:active, .btn-filter.active {
	background: #34383f !important;
	color: white;
}

.btn-filter span, .btn-filter i {
	-webkit-transform: skew(20deg) !important;
    -moz-transform: skew(20deg) !important;
    -o-transform: skew(20deg) !important;
    -ms-transform: skew(20deg) !important;
    transform: skew(20deg) !important;
    display:block;
    margin-bottom: 20px;

}

@media(max-width:767px){

	.btn-tilted {
		width: 100%;
		margin-left: 0;
	}

	.btn-tilted i {
		margin-left: 0;
	}
	.btn-tilted, .btn-tilted span, .btn-tilted i {
		-webkit-transform: skew(0deg) !important;
	    -moz-transform: skew(0deg) !important;
	    -o-transform: skew(0deg) !important;
	    -ms-transform: skew(0deg) !important;
	    transform: skew(0deg) !important;
	}

	.btn-yellow, .btn-azure {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}


}

@media(max-width:1023px){
	.btn-filter {
		-webkit-transform: skew(0deg);
	    -moz-transform: skew(0deg);
	    -o-transform: skew(0deg);
	    -ms-transform: skew(0deg);
	    transform: skew(0deg);
	    margin-bottom: 10px;
	}

	.btn-filter span, .btn-filter i {
		-webkit-transform: skew(0deg) !important;
	    -moz-transform: skew(0deg) !important;
	    -o-transform: skew(0deg) !important;
	    -ms-transform: skew(0deg) !important;
	    transform: skew(0deg) !important;
	}
}



/**************************** CONTAINERS */

.row {
	margin: 0;
}

.container-half {
	padding: 0 !important;
	margin: 0;
	box-sizing: border-box;
}

.container-half-content {
	padding: 10px 80px;
	box-sizing: border-box;
	margin: 0;
}

@media(max-width:767px) {

	.container-half-content {
		padding: 20px
	}

}

.margin-top-0 {
	margin-top: 20px !important;
}

.padding-0 {
	padding: 0;
}

.padding-20 {
	padding: 20px;
}

.padding-40 {
	padding: 40px;
}

.padding-top-0 {
	padding-top: 0px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-40 {
	padding-top: 40px;
}

.padding-top-60 {
	padding-top: 60px;
}

.padding-top-80 {
	padding-top: 80px;
}

.padding-top-100 {
	padding-top: 100px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-bottom-60 {
	padding-bottom: 60px;
}

.padding-bottom-80 {
	padding-bottom: 80px;
}

.padding-bottom-100 {
	padding-bottom: 100px;
}

.padding-left-0 {
	padding-left: 0px;
}

.padding-left-20 {
	padding-left: 20px;
}

.padding-left-40 {
	padding-left: 40px;
}

.padding-left-60 {
	padding-left: 60px;
}

.padding-left-80 {
	padding-left: 80px;
}

.padding-left-100 {
	padding-left: 100px;
}

.padding-right-0 {
	padding-right: 0px;
}

.padding-right-20 {
	padding-right: 20px;
}

.padding-right-40 {
	padding-right: 40px;
}

.padding-right-60 {
	padding-right: 60px;
}

.padding-right-80 {
	padding-right: 80px;
}

.padding-right-100 {
	padding-right: 100px;
}
.spacer {
	display: block;
	width: 100%;
	height: 20px;
}

/**************************** COLOR AND FONT STYLES */

.bg1 {
	background-color: #263035 !important;
}

.bg2 {
	background-color: #34383f !important;
}

.bg3 {
	background-color: #222428 !important;
}

.bg4 {
	background-color: #2d2e30 !important;
}

.bg1 .container-half-content, .bg3 .container-half-content {
	color: white;
}

.text-underline {
	text-decoration: underline !important;
}

.text-white {
	color: white !important;
}

.text-azur {
	color: #36acc5 !important;
}

strong {
	font-weight:bold !important;
}

h1, h2, h3, p {
	font-weight: 300;
	margin-bottom: 30px;
}

p {
	font-size: 14px;
	line-height: 160%;
}

/********************************************************** NAVIGATION */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	background: #101417;
	min-height: 60px;
}

@media(min-width:1400px) {
	nav.navbar .container-fluid {
		padding-left: 0;
	}

	#navbar.navbar-collapse.collapse {
		padding-left: 0;
	}
}

nav #language {
	background: #25889d;
	border-color: #25889d;

}

nav #language a {
	color: white;
}

nav #language a:hover {
	color: black !important;
}

nav #language.open>a, nav #language.open>a:focus, nav #language.open>a:hover {
	background: #25889d;
	border-color: #25889d;
}

nav #language ul.dropdown-menu {
	background: #25889d;
	border-color: #25889d;
}

nav #language ul.dropdown-menu li {
	background: #25889d;
}


nav #variants {
	display: none;
}


a.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    color: white !important;
    font-size: 14px;
    font-weight: 300;
}

.navbar-nav li a:hover {
	color: #36acc5 !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #36acc5 !important;
	font-weight: bold !important;
	background:none;
}

a.navbar-brand:hover, a.navbar-brand:active {
	background:#217688 !important;
}


nav ul.pull-right li a:hover i {
	color:white !important;
}

nav ul.pull-right li a i:hover {
	color: white !important;
}



nav ul.pull-right {
	margin-right: -30px;
}

nav ul.pull-right li a {
	padding: 0 20px;
}

nav ul.pull-right li {
	border-right: 1px solid #36acc5;
}

nav ul.pull-right li:last-child {
	border: none;
}

nav ul li.dropdown ul.dropdown-menu {
	background:#101010;
	padding: 0;
}

nav ul .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background: none;
}


nav ul.pull-right li.dropdown.open a{
	color: white !important;
}

nav ul.pull-right li.dropdown.open a:hover, nav ul.pull-right li.dropdown.open a:hover i {
	color: #36acc5 !important;
}

nav ul.pull-right li.dropdown.open a:hover .badge {
	background-color: black !important;
}

nav ul.pull-right li.dropdown.open a i {
	color: white !important;
}

nav ul.pull-right li.dropdown.open ul li a i {
	color: #4cd7f4 !important;
}

nav ul.pull-right li.dropdown.open ul li a .badge {
	background-color: #4cd7f4 !important;
}

nav ul.pull-right li.dropdown.open ul.dropdown-menu {
	padding: 0;
	border-radius:0;
	border: 0;
}

@media(max-width:767px){
	nav ul.pull-right {
		float: left !important;
		display: none;
	}
}

/**************************** SUBLOGO */

#sublogo {
	width: 100%;
	position: absolute;
	clear:both;
}
#sublogo .logo {
	border-top: 70px solid #101417;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 300px;
	margin: 0 auto;
}

#sublogo .logo img {
	max-width: 100%;
	display:block;
	margin-top: -65px;
}

@media(max-width:767px) {
	#sublogo .logo {
		width: 100%;
	}
}


/********************************************************** HERO'S */

.hero {
	padding: 40px !important;
}

.hero.hero-asphalt {
	background: url('../img/hero_asphalt.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
}

.hero.hero-asphalt #asphalt-carousel img {
	width: 100%;
}

.hero.hero-titletext {
	background: url('../img/header_title.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
	padding: 40px 0 80px 0;
	margin-bottom: -20px;
}

.hero.hero-buttons {
	background: url('../img/hero_buttons.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
}


footer {
	padding: 40px;
	background: #434a54;
}

footer h4 {
	color: #e6e9ed;
	text-transform: uppercase;
	font-weight: 700;
}

footer ul {
margin: 0;
	padding: 0;
}

footer ul li {
	list-style-type: none;
}

footer ul li a {
	color: #aab2bd !important;
	font-weight: 500;
}

footer .copyright {
	padding: 20px;
	color: #aab2bd;
}

/********************************************************** HOMEPAGE */

/**************************** HEADER */
header.intro {
	background: url('../img/header_large.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 700px;
	position: relative;
}

@media(max-width:767px) {
	header.intro #video video {
		display: none;
	}
}

@media(min-width:767px) {
		header.intro #video {
		width: 100%;
		height: 100% !important;
		position: absolute;
		overflow: hidden;
	}

	header.intro #video video {
		position: relative;
		z-index: 0;
		height: auto;
	}
}

@media(min-width:1920px) {
	header.intro #video video {
		width: 100%;
	}
}

header.intro .intro-main {
	padding-top: 60px;
}

header.intro .intro-main .intro-main-logo {
	padding-bottom: 50px;
}
header.intro .intro-main .intro-main-logo .title {
	display: block;
	text-align: right;
	color: #fff;
	padding-right: 115px;
	font-weight: lighter; text-transform: uppercase; font-size: 20px;
}
@media(max-width:767px) {
	header.intro .intro-main .intro-main-logo .title { padding-right: 38px;}
	header.intro .intro-main .intro-main-search .input-group {
		background: #fff;
	}
}
header.intro .intro-main .intro-main-search .input-group-addon {
	background: white;
	border:none;
	border-radius: 0;

}
header.intro .intro-main .intro-main-search input[type="text"] {
	height: 54px;
	margin-top: 0;
	font-size: 20px;
	color: black;
	border: none;
	background: white;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	box-sizing: border-box;
}

header.intro .intro-main .intro-main-search input[type="submit"] {
	margin-top: 8px;
}

header.intro .intro-main .intro-main-search h3 {
	margin-bottom: 0;
}

.list-group .list-group-item {
	background: none;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #3bafda;
	padding-left: 0;
	padding-right: 0;
	color: #3bafda;
}

.list-group .list-group-item .badge {
	background-color: #3bafda;
}

.panel-default, .panel-heading {
	border: 0;
	background: none !important;
	cursor: pointer;

}

.panel-heading {
	border-bottom: 1px solid #3bafda !important;
	color: #3bafda !important;
	padding-left: 0;
	padding-right: 0;
}

.panel-heading .badge {
	background-color: #3bafda !important;
}

.panel-body {
	border-top: 0 !important;
	padding-left: 0;
	padding-right: 0;
}

#home-welcome #intro-carousel img {
	width: 100%;
	height: auto;
}

/**************************** MAPS */
#home-map, #contact-map {
    height: calc(100vh + 40px);
    width:100%;
    min-height: 800px;
}

@media(max-width:767px) {
	#home-map, #contact-map {
	    min-height: 300px;
	}
}

/********************************************************** BRAND, MODEL, TYPE, ENGINE GENERAL */

#title {
	background-image: url('../img/header_title.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 100px 0 70px 0;
	text-align: center;
	color: white;
}

#picker {

}

#picker .left {

	background: #25889d;
	height: 500px;
	padding: 80px 0 0 60px;
}

#picker .left:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 100%;
  width: 0;
  height: 0;
  border: 250px solid transparent;
  border-left: 30px solid #25889d;
}

#picker .left .breadcrumbs {
	display:block;
	width: 100%;
	position: absolute;
	top: -60px;
	left: -3px;
	-webkit-transform: skew(7deg);
	   -moz-transform: skew(7deg);
	     -o-transform: skew(7deg);

}

#picker .left .breadcrumbs ol.breadcrumb {
	background: rgba(0,0,0,0.6);
	padding: 20px;
	padding-left: 60px;
	border-radius: 0


}

#picker .left .breadcrumbs ol.breadcrumb li {
	-webkit-transform: skew(-7deg) !important;
	   -moz-transform: skew(-7deg) !important;
	     -o-transform: skew(-7deg) !important;
}

#picker .left .breadcrumbs ol.breadcrumb >li+li:before {
    font-family: 'FontAwesome';
    font-size: 11px;
    content: '\f054';
}

#picker .left .breadcrumbs ol.breadcrumb li {
	color: #5b6368;
}

#picker .left .breadcrumbs ol.breadcrumb li a {
	color: white;
}

#picker .left .breadcrumbs ol.breadcrumb li a.selected {
	text-decoration: underline;
	color: #ffcc00;
}

#picker .left .breadcrumbs ol.breadcrumb li a.active {
	color: white;
}

#picker .left .information {
	color: white;

}

#picker .left .information h2 {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 500;
}

#picker .left .information h2 strong {

	color: #ffcc00;
}

#picker .left .information h3 {

}

#picker .right {
	padding: 20px 0;
	background:white;
}

#picker .ribbon {
	position: absolute;
	right: 0; top: 0;
	z-index: 1;
	overflow: hidden;
	width: 75px; height: 75px;
	text-align: right;
}
#picker .ribbon span {
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100px;
	display: block;
	position: absolute;
	top: 19px; right: -21px;
}

#picker .ribbon.multimap span {
	background: #25889D;
}

#picker .ribbon.development span {
	background: #434a54;
}

#picker .ribbon.justadded span {
	background: #ffcc00;
}

@media(max-width:768px){

	#picker .left:after {
		display: none;
	}

	#picker .left .breadcrumbs {
	left: 0;
	-webkit-transform: skew(0);
	   -moz-transform: skew(0);
	     -o-transform: skew(0);

	}

	#picker .left .breadcrumbs ol.breadcrumb li {
		-webkit-transform: skew(0) !important;
		   -moz-transform: skew(0) !important;
		     -o-transform: skew(0) !important;
	}
}

@media(max-width:1024px){
	#picker .left .breadcrumbs ol.breadcrumb {
		padding: 20px;
	}
}


/****************************  BRAND */

#picker.picker-brand {

}

#picker.picker-brand .brands {
	padding: 0 0 0 40px;
	text-align: center;
z-index: 3;
	position: relative;
	overflow:auto;

}

#picker.picker-brand .brands .brand {
	padding: 20px;
	min-height: 220px;
}

#picker.picker-brand .brands .brand.featured {
	background: #cee7f0;
	box-sizing: border-box !important;
	border: 4px solid white;
}

#picker.picker-brand .brands .brand.featured:hover {
	background: #25889d;

}

#picker.picker-brand .brands .brand.featured:hover .name a{
	color: white !important;
}

#picker.picker-brand .brands .brand:hover {
	background: #ffcc00;
}

#picker.picker-brand .brands .brand .image {
	width: 100%; height: 100%;
}

#picker.picker-brand .brands .brand .image img {
	max-width: 70%;
}

#picker.picker-brand .brands .brand .name {
	padding-top: 20px;
}

#picker.picker-brand .brands .brand .name a {
	color: #25889d
}

@media(max-width:768px){
	#picker.picker-brand .brands {
		padding: 20px;
	}
}

@media(max-width:1024px){
		#picker.picker-brand .brands .brand {
		padding: 10px !important;
	}
}



/****************************  MODEL */

#picker.picker-model {

}

#picker.picker-model .models {
	width: 80%;
	margin: 0 auto;
	padding: 20px 20px 20px 60px;
	text-align: center;
	z-index: 3;
	position: relative;
	overflow:auto;
}

#picker.picker-model .models .model {
	padding: 3px;
}

#picker.picker-model .models .model.hvr-grow:hover {
	z-index: 999;
}

#picker.picker-model .models .model .col-md-12 {
	padding: 0;
	background-color: #f2f2f2;
	height: 90px;
	width: 100%;
	box-sizing: border-box;
}

#picker.picker-model .models .model a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 90px;
	font-size: 20px;
	color: #434a54;
	text-decoration: none;
	position: relative;
	/*z-index: 2;*/ /* uncomment if you want to keep the ribbon on top */
}

#picker.picker-model .models .model a:hover,#picker.picker-model .models .model a:active {
	background: #ffcc00;
	-webkit-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	-moz-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
}

@media(max-width:767px){
	#picker.picker-model .models {
		padding: 20px;
	}
}

/****************************  TYPE */

#picker.picker-type {

}

#picker.picker-type .types {
	width: 80%;
	margin: 0 auto;
	padding: 20px 20px 20px 60px;
	text-align: center;
	z-index: 3;
	position: relative;
	overflow:auto;
}

#picker.picker-type .types .type {
	padding: 3px;
}

#picker.picker-type .types .type.hvr-grow:hover {
	z-index: 999;
}

#picker.picker-type .types .type .col-md-12 {
	padding: 0;
	background-color: #f2f2f2;
	height: 90px;
	width: 100%;
	box-sizing: border-box;
}

#picker.picker-type .types .type a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 90px;
	font-size: 20px;
	color: #434a54;
	text-decoration: none;
	position: relative;
	/*z-index: 2;*/ /* uncomment if you want to keep the ribbon on top */
}

#picker.picker-type .types .type a:hover,#picker.picker-type .types .type a:active {
	background: #ffcc00;
	-webkit-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	-moz-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
}

@media(max-width:767px){
	#picker.picker-type .types {
		padding: 20px;
	}
}

/****************************  ENGINE */


#picker.picker-engine .engines {
	width: 80%;
	margin: 0 auto;
	padding: 20px 20px 20px 60px;
	text-align: center;
	z-index: 3;
	position: relative;
	overflow:auto;
}

.engine-heading {
	display: block;
	width: 98.7%;
	background: #25889d;
	color: white;
	text-align: center;
	padding: 20px;
	margin: 3px;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
}

#picker.picker-engine .engines .engine {
	padding: 3px;
}

#picker.picker-engine .engines .engine.hvr-grow:hover {
	z-index: 999;
}

#picker.picker-engine .engines .engine .col-md-12 {
	padding: 0;
	background-color: #f2f2f2;
	height: 90px;
	width: 100%;
	box-sizing: border-box;
}

#picker.picker-engine .engines .engine a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 90px;
	font-size: 20px;
	color: #434a54;
	text-decoration: none;
	position: relative;
	/*z-index: 2;*/ /* uncomment if you want to keep the ribbon on top */
	min-width:90px;
}

#picker.picker-engine .engines .engine a:hover,#picker.picker-engine .engines .engine a:active {
	background: #ffcc00;
	-webkit-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	-moz-box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
	box-shadow: 6px 6px 0px -3px rgba(226,160,0,1);
}

@media(max-width:767px){
	#picker.picker-engine .engines {
		padding: 0px;
	}

	.engine-heading {
		width: 97%;
		margin-top: 20px;
	}
}


/********************************************************** CAR DETAIL */

#car-detail-picture {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 180px;
	height: 600px;
	position: relative;
}

#car-detail-picture .color-overlay {
    background-color: rgba(59, 175, 218, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#car-detail-picture .title {
	text-align: center;
	color: white;
	position: relative;
	z-index: 1
}

@media (max-width: 1200px) {
	header.intro .intro-main .intro-main-search input[type="text"] {
		font-size: 17px;
	}
}

@media(max-width:767px){

	header.intro .intro-main .intro-main-search input[type="text"] {
		margin-top: 0;
		font-size: 15px;
	}

	#car-detail-picture {
		padding-top: 100px;
		height: auto; min-height: 700px;

	}
	#car-detail-picture .tabs {
		padding-bottom: 20px;
	}
	#car-detail-picture .tabs .tab {
		margin-top: 10px !important;
	}
}

/****************************  TABS */

#car-detail-picture .tabs {
	display: flex; justify-content: flex-start;
	position: absolute; bottom: 0;
	width: 1170px;
	padding-top: 154px;
}

#car-detail-picture .tabs .hvr-grow {
	width: auto;
}
#car-detail-picture .tabs .hvr-grow .tab-stage span {
	padding-right: 30px;
}

#car-detail-picture .tabs .tab {
	color: white;
	margin-top: 29px;
}

#car-detail-picture .tabs a {
	color: white !important;
	text-decoration: none !important;
}

#car-detail-picture .tabs .tab .tab-status {
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    display: block;
    width: 50%;
    margin-left: 18px;
    padding: 2px;
    box-sizing: border-box;
    border: 0;
}

#car-detail-picture .tabs .tab .tab-stage {
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    display: block;
    width: 100%;
    min-height: 70px;
    padding-top: 14px;
    box-sizing: border-box;
    border: 0;
}
#car-detail-picture .tabs.count-5 .tab .tab-stage,
#car-detail-picture .tabs.count-6 .tab .tab-stage,
#car-detail-picture .tabs.count-7 .tab .tab-stage,
#car-detail-picture .tabs.count-8 .tab .tab-stage {
	min-height: 60px;
}

#car-detail-picture .tabs .tab .tab-status span {
	-webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
    display: block;
	font-size: 14px;
    padding-left: 30px;
    padding-top: 5px;
}

#car-detail-picture .tabs .tab .tab-stage span {
	-webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
    display: block;
	font-size: 32px;
    padding-left: 30px;
}
#car-detail-picture .tabs .col-md-2 .tab .tab-stage span {
	font-size: 27px;
}
#car-detail-picture .tabs .col-md-1 .tab .tab-stage span {
	font-size: 21px;
}
#car-detail-picture .tabs .tab .tab-status, #car-detail-picture .tabs .tab .tab-stage {
	background: #25889d;
}

.tab:hover .tab-stage, .tab:hover .tab-status {
    background: #ffcc00 !important;
}


#car-detail-picture .tabs .tab.active .tab-status, #car-detail-picture .tabs .tab.active .tab-stage {
	background: #ffcc00;
}

@media(max-width:1024px){

	#car-detail-picture .tabs {
		max-width: 90%;
		display: block;
	}
	#car-detail-picture .tabs .col-md-2 .tab .tab-stage span {
		font-size: 27px;
	}
	#car-detail-picture .tabs .col-md-2 {
		padding-left: 5px; padding-right: 5px !important;
	}


	#car-detail-picture .tabs .tab .tab-status {
		width: 60%;
	}

	#car-graph-info .container .col-md-6.container-half.bg4 {
		background: none !important;
	}

	#car-graph-info .container .col-md-6.container-half.bg4 .container-half-content {
		padding: 40px;
	}
}
@media(max-width: 840px) {
	#car-detail-picture .tabs .col-md-2 .tab .tab-stage span {
		font-size: 27px;
		padding-left: 15px; padding-right: 15px;
	}

}

@media(max-width:767px){

	#car-detail-picture .tabs {
		position: relative;
		max-width: 100%;
		padding-top: 0 !important;
	}

	#car-detail-picture .tabs .col-md-2,
	#car-detail-picture .tabs .col-md-2,
	#car-detail-picture .tabs .col-md-4 {
		width: 100%;

	}

	#car-detail-picture .tabs .col-md-2 .tab .tab-stage span {
		padding-left: 15px; padding-right: 15px;
	}


	#car-detail-picture .tabs .tab {
		margin-bottom: 10px;
	}
	#car-detail-picture .tabs .tab .tab-status, #car-detail-picture .tabs .tab .tab-stage, #car-detail-picture .tabs .tab .tab-status span, #car-detail-picture .tabs .tab .tab-stage span {
		-webkit-transform: skew(0deg) !important;
	    -moz-transform: skew(0deg) !important;
	    -o-transform: skew(0deg) !important;
	    -ms-transform: skew(0deg) !important;
	    transform: skew(0deg) !important;
	}

	#car-detail-picture .tabs .tab .tab-status {
		margin-left: 0;
	}

	#car-detail-stage .improvement {
		margin-top: 0 !important;
	}

	#car-detail-stage h2 {
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
	}

	#car-overlays section.blueprint {
		max-width: 100% !important;
		left: 0;
	}
	#car-graph-info img {
		max-width: 100% !important;
	}
}

/****************************  STAGE */

.dvx-tooltip {
	position: relative;
	width: auto;
	height: 30px;
	background: #ffcc00;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 16px;
	line-height: 20px;
	color: black;
	padding: 4px;
	padding-right: 8px;
	top: -8px;
	margin-left: 20px;
	display: inline-block;
	font-weight: bold;
}

.dvx-tooltip:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 11px 15px 0;
	border-color: transparent #ffcc00;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left: -11px;
	top: 50%;
}

#car-detail-stage .breadcrumb {
	display:block;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

#car-detail-stage .breadcrumbs ol.breadcrumb {
	background: none
}

#car-detail-stage .breadcrumbs ol.breadcrumb >li+li:before {
    font-family: 'FontAwesome';
    font-size: 11px;
    content: '\f054';
}

#car-detail-stage .breadcrumbs ol.breadcrumb li {
	color: #5b6368;
}

#car-detail-stage .breadcrumbs ol.breadcrumb li a {
	color: white;
}

#car-detail-stage .breadcrumbs ol.breadcrumb li a.selected {
	text-decoration: underline;
	color: #ffcc00;
}

#car-detail-stage .breadcrumbs ol.breadcrumb li a.active {
	color: white;
}

#car-detail-stage ul {
	font-size: 20px;
	line-height: 180%;
	margin-left: 20px;
	font-weight: 300;
}

#car-detail-stage ul i {
	font-size: 16px;
	line-height: 200%;
}

#car-detail-stage .progress {
	background: #2d2e30;
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 0px;
	height: 40px;
	-webkit-transform: skew(-20deg) !important;
    -moz-transform: skew(-20deg) !important;
    -o-transform: skew(-20deg) !important;
    -ms-transform: skew(-20deg) !important;
    transform: skew(-20deg) !important;
}

#car-detail-stage h2 {
	margin-top: 40px;
}

#car-detail-stage .progress span {
	display: block;
	line-height: 40px;
	text-align: right;
	padding-right: 14px;
	font-size: 16px;
	font-weight: bold;
	-webkit-transform: skew(20deg) !important;
    -moz-transform: skew(20deg) !important;
    -o-transform: skew(20deg) !important;
    -ms-transform: skew(20deg) !important;
    transform: skew(20deg) !important;
}

#car-detail-stage .progress-bar-1 {
	background:#317d8c;
}

#car-detail-stage .progress-bar-2 {
	background:#40bfda;
}

#car-detail-stage .improvement {
	margin-bottom: 10px;
	margin-top: -52px;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	color: #ffcc00;
}

#car-overlays ul {
	font-size: 20px;
	line-height: 180%;
	margin-left: 20px;
	font-weight: 300;

}

#car-overlays ul li:hover {
	cursor: pointer;
	color: #25889d;
}

#car-overlays ul i {
	font-size: 16px;
	line-height: 200%;
}

/****************************  PRICING TABLE */

#car-pricing-info .pricing-table {
	background: #1b2226;
	padding: 20px;
	overflow: auto;
	-webkit-box-shadow: 6px 6px 0px -3px #0e1214;
	-moz-box-shadow: 6px 6px 0px -3px #0e1214;
	box-shadow: 6px 6px 0px -3px #0e1214;
    overflow-x: hidden;
    webkit-transform: skew(-20deg) !important;
    -moz-transform: skew(-20deg) !important;
    -o-transform: skew(-20deg) !important;
    -ms-transform: skew(-20deg) !important;
    transform: skew(-20deg) !important;
}

#car-pricing-info .pricing-table .col-md-2 {
}

#car-pricing-info .pricing-table .col-md-4 {
float:right;

}

#car-pricing-info .pricing-table .title {
	height: 50px;
	color: #2ad9ff;
}

#car-pricing-info .pricing-table .value {
	color: white;
}

#car-pricing-info .pricing-table .value .old-price {
	text-decoration: line-through;
	font-size: 14px;
}

#car-pricing-info .pricing-table .value .new-price {
	font-weight: bold;
	color: #ffcc00;
	font-size: 20px;
}

@media(max-width:1024px){


	nav #variants {
		display: block;
		border-bottom: 2px solid #fff;
	}

	a.navbar-brand, .navbar-nav li a {
		line-height: 32px;
		height: 36px;
	}

	nav ul li.dropdown ul.dropdown-menu.multi-level {
		display: block;
		padding-left: 20px;
	}

	nav #navbar ul.pull-right.navbar-nav {
		display: none;
	}

	#car-pricing-info .pricing-table .title {
		height: auto;
	}
	#car-pricing-info .pricing-table .value {
		padding-bottom: 20px;
	}

	#car-pricing-info .pricing-table {
		padding: 20px !important;
		-webkit-transform: skew(0deg) !important;
	    -moz-transform: skew(0deg) !important;
	    -o-transform: skew(0deg) !important;
	    -ms-transform: skew(0deg) !important;
	    transform: skew(0deg) !important;
	}

	#car-pricing-info .pricing-table .col-md-2 {

		-webkit-transform: skew(0deg) !important;
	    -moz-transform: skew(0deg) !important;
	    -o-transform: skew(0deg) !important;
	    -ms-transform: skew(0deg) !important;
	    transform: skew(0deg) !important;
	}

	#car-pricing-info .pricing-table .value {
		margin-left: 0;
	}

}

@media(max-width:767px){

	#car-pricing-info img {
		display: none;
	}

	.dvx-tooltip {
		display: none;
	}
}

/********************************************************** BLOG */

.blog-image {
	cursor: pointer;
}

.blog-image-left .container-half.blog-image, .blog-image-right .container-half.blog-image {
 	min-height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#blog-main-image {
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#blog-article ul {
	font-size: 20px;
	line-height: 180%;
	margin-left: 20px;
	font-weight: 300;
}

#blog-article ul i {
	font-size: 16px;
	line-height: 200%;
}


#blog-article img.align-left {
	margin-right: 30px;
	margin-bottom: 20px;
}

#blog-article img.align-right {
	margin-left: 30px;
	margin-bottom: 20px;
}

#blog-article p a {
	color:#ffcc00;
}

/********************************************************** CONTACT */

#contact ul {
	font-size: 20px;
	line-height: 180%;
	margin-left: 60px;
	font-weight: 300;
}

#contact ul li {
	line-height: 300%;
}

#contact ul i {
	font-size: 26px;
	line-height: 220%;
}

#contact table * {
	border-color:#5b6266 !important;
}

#contact-form {
	padding-top: 100px;
}

#contact .table-striped > tbody > tr:nth-child(2n+1) > td,#contact .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #32393c;

}

#contact .table-striped > tbody > tr > td{
	border: 0;
	padding: 10px;
}

#contact-form form input[type="text"] {
	color: black;
}

#contact-form input[type="text"] {
	height: 40px;
	font-size: 20px;
	color: black;
	border: none;
	background: white;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	box-sizing: border-box;
}

#contact-form input[type="submit"] {
	margin-top: 20px;
}

#contact-form textarea {
	border-radius: 0;
	box-sizing: border-box;
	font-size: 20px;
	color: black;
}

#contact-form .form-group.has-success input, #contact-form .form-group.has-success textarea {
    background:#82c26b;
}

#contact-form .form-group.has-warning input, #contact-form .form-group.has-warning textarea {
    background:#f8d55b;
}

#contact-form .form-group.has-error input, #contact-form .form-group.has-error textarea {
    background:#f85b5b;
}

@media (max-width: 1150px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {

  }
  .collapse.in{
      display:block !important;
  }
}


/**
 * Modal picker */
#variant-selector-wrapper {
	display: none;
}
#variant-selector-wrapper .modal-dialog {
	margin-top: 6%;
}
#variant-selector-wrapper .modal-content {
	padding: 200px 50px 50px;
	background: url('../img/logo.png') no-repeat top 40px center #000;
	color: #fff;
}
#variant-selector-wrapper .intro {
	margin: 30px 0 10px;
}
#variant-selector-wrapper .intro p {
	text-align: center; font-size: 21px;
}
#variant-selector-wrapper .selector {
	display: flex;
	flex-wrap: wrap; justify-content: center;
}
#variant-selector-wrapper .selector > div {
	background: #36ACC5;
	margin: 10px;
	transform: skew(-20deg);
	transition: all 0.4s;
}
#variant-selector-wrapper .selector > div:hover {
	background: #434a54;
}
#variant-selector-wrapper .selector > div a {
	display: block; width: 100%;
	padding: 7px 20px 10px;
	color: #fff; text-align: center; line-height: 16px;
	transform: skew(20deg) !important;
}
#variant-selector-wrapper .selector > div a:hover {
	text-decoration: none;
}

body.modal-open .modal-backdrop {
	background: #36ACC5;
}

.form-control {
	margin-top: 5px;
}
.form-group.has-label {
	display: block;
	float: left; clear: both;
	width: 100%;
	margin-top: 0px;
}

form .transparant-background {
	margin-bottom: 30px;
}
form .checkbox-m-right input[type="checkbox"] {
	margin-right: 15px;
}


.dropdown:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 5px;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 25px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
